<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<server description="Dandelion IOT server">
    <featureManager>
        <feature>managedBeans-2.0</feature>
        <feature>cdi-3.0</feature>
        <feature>concurrent-2.0</feature>
        <feature>restfulWS-3.0</feature>
        <feature>servlet-5.0</feature>
        <feature>json-1.0</feature>
        <feature>jsonb-2.0</feature>
        <feature>jsonp-2.0</feature>
        <feature>persistence-3.0</feature>
        <feature>appSecurity-4.0</feature>
        <feature>jndi-1.0</feature>
        <feature>mdb-4.0</feature>
        <feature>connectors-2.0</feature>
    </featureManager>

    <activationSpec id="jca-application/jca-web/TelegramBotListener">
        <properties.jca-application.telegram-resourceAdapter/>
        <!--
           Use activation config name and token instead @MessageDriven -> activationConfig
        -->
<!--        <properties.jca-application.telegram-resourceAdapter name="Bot name" token="Bot token"/>-->
    </activationSpec>

    <connectionFactory jndiName="jca/Sender">
        <properties.jca-application.telegram-resourceAdapter/>
    </connectionFactory>

    <basicRegistry id="basic" realm="BasicRealm"/>
    <httpSession securityIntegrationEnabled="false"/>
    <httpEndpoint id="defaultHttpEndpoint" httpPort="8080" httpsPort="9443">
        <httpOptions http2="enabled"/>
    </httpEndpoint>
    <webContainer disableXPoweredBy="true"/>
</server>
